# vscode editor
.devcontainer/

# dotnet
bin
obj

# nodejs
dist/
node_modules/

# helpers
todo
private.readme.md
.vagrant

# binaries
minikube-linux-amd64
kubectl
*.deb

# keys
*.pem
*.crt
*.key

external-resources/

configs/
